<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:security="http://www.springframework.org/schema/security"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--    http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--    http://www.springframework.org/schema/security-->
<!--    http://www.springframework.org/schema/security/spring-security.xsd">-->

<!--    <security:global-method-security secured-annotations="enabled"></security:global-method-security>-->
<!--&lt;!&ndash;    <security:global-method-security jsr250-annotations="enabled"></security:global-method-security>&ndash;&gt;-->
<!--    &lt;!&ndash; 配置不拦截的资源 &ndash;&gt;-->
<!--    <security:http pattern="/login" security="none"/>-->
<!--    <security:http pattern="/failer.jsp" security="none"/>-->
<!--    <security:http pattern="/asserts/**" security="none"/>-->

<!--    <security:http pattern="/css/**" security="none"/>-->
<!--    <security:http pattern="/img/**" security="none"/>-->
<!--    <security:http pattern="/pages/**" security="none"/>-->
<!--    <security:http pattern="/plugins/**" security="none"/>-->

<!--    <security:http pattern="/test.do" security="none"/>-->
<!--    &lt;!&ndash;-->
<!--    	配置具体的规则-->
<!--    	auto-config="true"	不用自己编写登录的页面，框架提供默认登录页面-->
<!--    	use-expressions="false"	是否使用SPEL表达式（没学习过）-->
<!--    &ndash;&gt;-->
<!--    <security:http auto-config="true" use-expressions="true">-->

<!--        &lt;!&ndash; 配置具体的拦截的规则 pattern="请求路径的规则" access="访问系统的人，必须有ROLE_USER的角色" &ndash;&gt;-->
<!--        <security:intercept-url pattern="/**" access="hasAnyRole('admin','superadmin')"/>-->

<!--        &lt;!&ndash; 定义跳转的具体的页面 &ndash;&gt;-->
<!--        <security:form-login-->
<!--                login-page="/login.html"-->
<!--                login-processing-url="/login"-->
<!--                default-target-url="/admin/admins"-->
<!--                username-parameter="user"-->
<!--                password-parameter="pwd"-->
<!--                authentication-failure-url="/failer.html"-->
<!--                authentication-success-forward-url="/admin/admins"-->
<!--        />-->

<!--        &lt;!&ndash; 关闭跨域请求 &ndash;&gt;-->
<!--        <security:csrf disabled="true"/>-->
<!--        &lt;!&ndash; 退出 &ndash;&gt;-->
<!--        <security:logout invalidate-session="true" logout-url="/logout.do" logout-success-url="/login.jsp" />-->

<!--    </security:http>-->

<!--    &lt;!&ndash; 切换成数据库中的用户名和密码 &ndash;&gt;-->
<!--    <security:authentication-manager>-->
<!--        <security:authentication-provider user-service-ref="adminService">-->
<!--            &lt;!&ndash; 配置加密的方式&ndash;&gt;-->
<!--&lt;!&ndash;            <security:password-encoder ref="passwordEncoder"/>&ndash;&gt;-->
<!--        </security:authentication-provider>-->
<!--    </security:authentication-manager>-->

<!--    &lt;!&ndash; 配置加密类 &ndash;&gt;-->
<!--    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>-->

<!--    &lt;!&ndash; 提供了入门的方式，在内存中存入用户名和密码-->
<!--    <security:authentication-manager>-->
<!--    	<security:authentication-provider>-->
<!--    		<security:user-service>-->
<!--    			<security:user name="admin" password="{noop}admin" authorities="ROLE_USER"/>-->
<!--    		</security:user-service>-->
<!--    	</security:authentication-provider>-->
<!--    </security:authentication-manager>-->
<!--    &ndash;&gt;-->

<!--</beans>-->

